<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{post.title | uppercase}}</h2>
        <small>by <cite>{{post.first_name}} {{post.last_name}}</cite>, {{post.date_created}}</small>
    </div>
    <div class="panel-body">
        {{post.post}}
    </div>
    <div class="panel-footer"><small>by <cite>{{post.first_name}} {{post.last_name}}</cite></small></div>
</div>

<h4 class="well">Comments</h4>
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="img/person-placeholder.jpg" width="60" alt="Image">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Comments</h4>
        <p>Text goes here...</p>
    </div>
</div>
